.newVideo {
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding-desktop-main);
}

.newVideo_title {
  margin-top: 3.5rem;
  font-size: 60px;
  font-weight: 900;
  line-height: 70.31px;
  text-align: center;
}

.newVideo_instructions {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 3.5rem;
}

.newVideo_subtitle {
  font-family: "Source Sans 3", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  padding: 1.3rem 0;
}

/* Tablet Responsive */

@media (max-width: 768px) {
  .newVideo {
    max-width: none;
    padding: var(--padding-tablet-main);
  }
}
