.banner_right {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.banner_right_picture {
  display: block;
  border: 5px solid #6bd1ff;
  box-shadow: 0px 0px 17px 8px #6bd1ff inset;
  border-radius: 15px;
}

.banner_right_img {
  width: 100%;
  position: relative;
  z-index: -9;
  display: block;
}
