@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --padding-desktop-main: 0 6rem;
  --padding-tablet-main: 0 1.5rem;
  --background-modal: #03122F;
  --main-color: #262626;
  --blue-color: #2271d1;
  --blue-light-color: #6bd1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: #191919;
}

hr {
  border: none;
  height: 3px;
  background-color: #262626;
  color: #262626;
}

button {
  font-family: "Source Sans 3", sans-serif;
  display: block;
  padding: 0.8rem;
  border-radius: 10px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  min-width: 11rem;
  line-height: 24px;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

button:hover {
  border: 2px solid var(--blue-color);
}

input,
select,
textarea {
  border: none;
  background: transparent;
  color: #a5a5a5;
  border: 3px solid #1f1f1f;
  border-radius: 10px;
  padding: 0.7rem 0.5rem;
  outline: none;
  font-weight: 600;
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

textarea {
  resize: none;
  min-height: 220px;
}
